<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <add key="provider" value="System.Data.SqlClient"/>
      <add key="connectionString" value="Data Source=RAHAT007\SQLEXPRESS;Initial Catalog=Donation_Distributions;Integrated Security=True"/>
    </configSections>
    <connectionStrings>
        <add name="Donation_Distribution.Properties.Settings.Setting"
            connectionString="Data Source=RAHAT007\SQLEXPRESS;Initial Catalog=Donation_Distributions;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>